* {
    font-family: 'Lekton', sans-serif;
}

h1, h2 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-align: center;
}

li {
    line-height: 40px;
}

img {
    display: block;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

footer {
