<li>
    {{burgerName}}

    <button class="change-devoured btn-warning btn-sm" data-id="{{id}}" data-newdevoured="true">
        {{#if isDevoured}}DEVOURED!{{else}}EAT ME{{/if}}
    </button>
    <button class="delete-burger btn-secondary btn-sm" data-id="{{this.id}}">DELETE!</button>

</li>

